extends layout
block headCSS

block content
  section
    .row.margin-vertical-15
      .col.s12.m12.l12.xl12
        h3= title 
    .row.margin-vertical-15
      each video in videos
        .col.s12.m6.l3.xl3
          .card.hoverable
            .card-image
              img(src=video.thumbnail)
              span.new.badge.grey.darken-3(data-badge-caption="")= video.duration
            .card-content= video.title
              br
              a.small.grey-text.darken-1(href='#')= video.author
            .card-action
              .badge.grey.lighten-2.left= video.payment
              .badge.right.small= video.posted
              div(style='clear: both')
block footJS
  script(src='/js/video.js')
  script(src='/js/video-init.js')
