extends layout
block headCSS
  link(href='/css/video-js.css', type='text/css', rel='stylesheet')
  link(href='/css/video_custom.css', type='text/css', rel='stylesheet')
block content
  section
    .row.margin-vertical-15
      .col.s12.m12.l8.xl8
        video#my_video_1.video-js.vjs-default-skin(width='100%', height='360px', controls='', preload='none', poster=video.thumbnail, data-setup='{ "aspectRatio":"640:360", "playbackRates": [0.5, 1, 1.5, 2] }')
          source(src=video.videopath, type='video/mp4')
        .row.no-margin.border-top.border-left.pb-20.border-right
          .col.s12.m12.l8.xl8
            h5= video.title
            each tag in tags
              a(href='/catgory/'+tag)
                span.grey.left(style='border-radius:6px; padding:3px 10px; color: #222; margin-right: 5px')= tag 
          .col.s12.m12.l4.xl4.pt-20
                a.waves-effect.btn.pink.lighten-3.tooltipped.upvote.black-text.left(href='#', data-tooltip=voters data-user=username, data-author=video.author, data-permlink=video.permlink, data-votes=voters_count)
                  i.material-icons.left thumb_up
                  span#votecount= voters_count
                a#giftData.modal-trigger.waves-effect.btn.cyan.lighten-4.gift.black-text.right(href="#modalGift", data-permlink=video.permlink, data-author=video.author)
                  i.material-icons card_giftcard
        .row.no-margin.border-top.border-left.pt-20.border-right
          .col.s6.m6.l6.xl6
            img.circle.responsive-img.left(src='https://img.busy.org/@'+video.author, alt='', style="height: 50px; margin-top: 10px; margin-right: 15px")
            .left
              a(href='/profile/'+video.author)= video.author
              br
              a#follow.waves-effect.wave-red.red.btn-small.white-text.right(href='#', data-user=username, data-author=video.author, data-follower=follower_count) 
                i.material-icons.white-text.left person_add
                | Follow ( <span id="follower">#{follower_count}</span> )
          .col.s6.m6.l6.xl6(style='padding-top:25px')
            h5.no-margin.right= video.payment
    
      
      .col.s12.m12.l4.xl4
        h6 Similar Videos
  #modalGift.modal.bottom-sheet
    .modal-content
      h4.green-text 
        i.material-icons.left(style='font-size: 36px') card_giftcard
        | Send Gift, show that you appreciate
      p
        label
          input.with-gap(name='giftCurrency', type='radio', checked='', value='STEEM')
          span STEEM
        label(style='margin-left: 30px')
          input.with-gap(name='giftCurrency', type='radio', value='SBD')
          span SBD
      br
      p
        .input-field.col.s6
          input#giftAmount.validate(type='text', placeholder='0.00')
          label(for='giftAmount') Amount
    .modal-footer
      a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
      a#sendGift.modal-close.waves-effect.waves-green.btn.green(href='#!') Send Gift Now
block footJS
  script(src='/js/video.js')
  script(src='/js/video-init.js')
  script(src='/js/follow.js')
  script(src='/js/upvote.js')
